@page
@model StinkyGamesDotNone.Pages.IndexModel
@{
    ViewData["Title"] = "Index Page Bruh";
    
    Console.WriteLine(@Url.RouteUrl(Model.GameMenuImages[0]));

    Console.WriteLine("Do something");

    Console.WriteLine("Nothing");
}
<div id="game-menus">
    <div id="sudoku-menu">
        <a asp-page="Games/SudokuGame/Sudoku">
            <img src="Images/sudoku-menu.jpeg"/>
            <span>
                This is the short description of my Sudoku Game I've made.
                Actually, it's not much about the game,
                it's just a test of synchronization between this text file and the html page.
            </span>
        </a>
    </div>
    <div id="mine-sweeper-menu">
        <a asp-page="Games/MineSweeperGame/MineSweeper">
            <img src="Images/mine-sweeper-menu.jpeg" alt="No Image" />
            <span>
                This is the description for Mine Sweeper
            </span>
        </a>
    </div>
    <div id="worlad-menu">
        <a asp-page="Games/WorladGame/Worlad">
            <img src="#" />
            <span>
                Practice words in a playable manner! Not a Quizlet rippoff I swear!
            </span>
        </a>
    </div>
</div>