@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h3>Choose the game!</h3>
    <ul>
        <li>
            <a asp-page="/Games/SudokuGame/Sudoku">Sudoku</a>
        </li>
    </ul>
</div>
