@page
@model StinkyGamesDotNone.Pages.Games.SudokuModel
@{
    ViewData["Title"] = "-Sudoku-";
    Layout = "_GamePageLayout";
}
<script>
    
    let map = @Model._map;
    function populate()
        for (let tile = 0; i < map.Grids.tile.length; i++) {
            document.createElement(
                $"<div clas=\"grid - item\">{}</div>");
        }
    }
</script>
<button type="submit" formmethod="post" asp-page-handler="Restart"></button>
<div id="container" class="grid-container">
</div>