/* This file dictates the rules that are presestn throught the whole website */
@font-face {
    font-family: 'Common Pixel';
    font-style: normal;
    font-weight: 400;
    src: local('Common Pixel'), url('https://fonts.cdnfonts.com/s/7553/COMMP___.woff') format('woff');
}
