#map {
    background-color: yellow;
}
#sudoku-start-conf {
    position: relative;
    margin: auto;
    width: fit-content;
    top: 95%;
    background-color: black;
}

#sudoku-start-conf #sudoku-start-button {
    background-color: yellow;
}