<!DOCTYPE html>
<html>
<head>
    <script></script>
    <style>
        body {
            background-color: grey;
        }

        header {
            z-index: 1;
            top: 0px;
            background-color: rgb(158, 158, 158);
            position: sticky;
            height: 5%;
            margin-bottom: 5%;
        }
            /* I know I could do 'header ul'{ }, I just want to be more specific*/
            header > ul {
                position: relative;
                text-align: center;
                top: 25%
            }

                header > ul > li {
                    margin: 0px 0px 20px 20px;
                    display: inline-block;
                }

                    header > ul > li > a {
                        text-decoration: none;
                    }

                    header > ul > li span {
                        color: blue
                    }

                    header > ul > li > a > span:hover {
                        background-color: rgb(219, 221, 219);
                    }

        nav {
            background-color: aqua;
            width: 13%;
        }

        main {
            z-index: 0;
            box-sizing: border-box 10px 10px;
            background-color: rgb(153, 153, 153);
            position: relative;
            height: 1000px;
        }

        #header-profile-pic {
            vertical-align: middle;
            width: 20px;
            height: 20px;
        }

        footer {
            margin-top: 5%;
            background-color: brown;
        }
    </style>
</head>
<body>
    <header>
        <ul>
            <li>
                <span>Test Web Header</span>
            </li>
            <li>
                <span>another message</span>
            </li>
            <li>
                <a href="#">
                    <span>test text</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img id="header-profile-pic" src="/Users/arturagalarian/Desktop/Images/pexels-photo-1061640.jpeg" alt="Profile">
                </a>
            </li>
        </ul>
    </header>
    <main>
        @RenderBody()
    </main>
        <footer>
            <span>footer</span>
        </footer>
</body>
</html>