<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="css/gamePage" rel="stylesheet" />
</head>
<body>
    <header>

    </header>
    <main id="game-box">
        @RenderBody()
    </main>
</body>
</html>
