<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="css/index.css" rel="stylesheet" />
    @*<link href="http://fonts.cdnfonts.com/css/common-pixel" rel="stylesheet">*@
</head>
<body>
    <header>
        <ul id="header-list">
            <li>
                <span>Test Web Header</span>
            </li>
            <li>
                <span>another message</span>
            </li>
            <li>
                <a href="#">
                    <span>test text</span>
                </a>
            </li>
            <li>
            </li>
        </ul>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <span>Footer</span>
        <img alt="no image" src="#" width="50" height="50" />
    </footer>
</body>
</html>
