<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="css/Layouts/index.css" rel="stylesheet" />
    @*<link href="http://fonts.cdnfonts.com/css/common-pixel" rel="stylesheet">*@
</head>
<body>
    <header>
        <div class="profile">
            <img src="Images/DefaultProfile.png">
        <div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <span>Footer</span>
        <img alt="no image" src="#" width="50" height="50" />
    </footer>
</body>
</html>
