@page
@model EdgyGames.Pages.Games.SudokuModel
@section Imports {
    <link href="~/css/sudoku.css" rel="stylesheet" />
    <script src="~/js/sudoku.js"></script>
}
@{
    ViewData["Title"] = "-Sudoku-";
    Layout = "_GamePageLayout";
}
<div id="sudoku-game-field">

</div>
<div id="sudoku-conf">
    <div id="sudoku-start-conf">
        <label for="sudoku-start-button">Press to start the game</label>
        <input type="button" id="sudoku-start-button" onclick="startGame()" />
    </div>
</div>