@page
@model EdgyGames.Pages.Games.SudokuModel
@section Imports {
    <link href="~/css/sudoku.css" rel="stylesheet" />
    <script src="~/js/sudoku.js"></script>
}
@{
    ViewData["Title"] = "-Sudoku-";
    Layout = "_GamePageLayout";
}
<div id="sudoku-game-field">
    <canvas id="sudoku-canvas"></canvas>
</div>