@page
@model EdgyGames.Pages.Games.SudokuModel
@section Styles{
    <link href="~/css/sudoku.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "-Sudoku-";
    Layout = "_GamePageLayout";
}
<div id="map">
    <button type="submit" formmethod="post" asp-page-handler="Restart"></button>
    <div id="container" class="grid-container">

    </div>
</div>